/* Verk Zeiterfassung - Custom CSS */

/* Open Sans Font (Variable Font) */
@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 300 800;
    font-style: italic;
    font-display: swap;
}
